@use "base/variables" as v;
@use "base/colours" as c;
@use "base/mixins" as m;

.grid-images {
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
  grid-template-areas: 
                        "item1 item2"
                        "item3 item4" ;
  @include m.tablet{
    height: 50vh;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-template-areas: "item1 item2 item3 item4";
  }
}
.item-img--1 {
  grid-area: item1;
  background: url("../img/desktop/image-gallery-milkbottles.jpg");
}
.item-img--2 {
  grid-area: item2;
  background: url("../img/desktop/image-gallery-orange.jpg");
}
.item-img--3 {
  grid-area: item3;
  background: url("../img/desktop/image-gallery-cone.jpg");
}
.item-img--4 {
  grid-area: item4;
  background: url("../img/desktop/image-gallery-sugarcubes.jpg");
}
.grid__item-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
