@use "base/variables" as v;
@use "base/colours" as c;
@use "base/mixins" as m;

.testimonials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(v.$padding_div) 0;
  @include m.tablet{
    padding: calc(v.$padding_div*2) 0;
  }
  .testimonials__title {
    color: c.$color-8;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: calc(v.$margin_elemt*2);
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include m.tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}
.testimonial__item {
  margin-bottom: calc(v.$margin_elemt*3);
  &:last-of-type{
    margin-bottom: 0;
  }
  @include m.tablet{
    margin-bottom: 0;
  }
  .testimonial__image {
    border-radius: 50%;
    width: 7rem;
    height: auto;
    margin-bottom: v.$margin_elemt;
  }
  .testimonial__text {
    width: 85%;
    margin: 0 auto calc(v.$margin_elemt);
    color: c.$color-8;
    line-height: 1.8rem;
    @include m.tablet{
      width: 90%;
      margin-bottom: calc(v.$margin_elemt*2);
    }
  }
  .testimonial__name {
    color: c.$color-6;
    font-weight: v.$black;
    margin-bottom: calc(v.$margin_elemt/2);
  }
  span{
    color: c.$color-9;
  }
}
